<div class="row">
    <div class="col-md-4">
        <div class="listContainer">
            <div class="list row" ng-repeat="item in personalData" class="item-detail">
                <div class="col-md-4 pull-left ">
                    <img class="image" ng-src="{{item.image}}"/>
                </div>
                <div class="col-md-8">
                    <div class="name" ng-mouseover="showCity(event,item,true)"
                         ng-mouseout="hideCity(event)"><a href="{{item.url}}">{{item.name}}</a></div>
                    <div class="address" ng-repeat="add in item.address track by $index">{{add}}</div>
                    <div class="phone">{{item.phone}}</div>
                    <div class="name">{{item.rating}}</div>
                    <img class="ratingImage" ng-src="{{item.ratingImage}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map class="map" center="{{personalData[0].lat}}, {{personalData[0].lan}}" zoom="14">
                <info-window id="myInfoWindow">
                    <div ng-non-bindable>
                        <div class="name">
                            <a href="{{cityName.url}}">{{cityName.name}}</a>
                        </div>
                        <div class="address" ng-repeat="add in cityName.address track by $index">{{add}}</div>
                        <img class="ratingImage" ng-src="{{cityName.ratingImage}}"/>
                    </div>
                </info-window>
                <marker ng-repeat="marker in personalData" position="[{{marker.lat}},{{marker.lan}}]"
                        title="{{marker.name}}" icon="{{icon}}"
                        on-mouseover="showCity(event,marker,true)"
                        on-click="showCity(event,marker,true)">
                </marker>
            </ng-map>
        </div>
    </div>
</div>
